#body {
    background-repeat: no-repeat;
    background-size: cover;   
    background-attachment: fixed;
}

#Dynamic,#DynamicCities {
   width: 330px;
}

#NewRing {
    display: none;
    z-index: 20;
    width: 210px;
    height: 105px;
    left: 45%;
    top: 11%;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
  }
  #NewRing:before {
    content: "";
    position: absolute;
    inset: 0 0 -100%;
    background: 
      radial-gradient(farthest-side,#ffd738 80%,#0000) left 70% top    20%/15px 15px,
      radial-gradient(farthest-side,#020308 92%,#0000) left 65% bottom 19%/12px 12px,
      radial-gradient(farthest-side,#ecfefe 92%,#0000) left 70% bottom 20%/15px 15px,
      linear-gradient(#9eddfe 50%,#020308 0);
    background-repeat: no-repeat;
    animation: l5 1.5s infinite;
  }
  @keyframes l5 {
    0%,20%   {transform: rotate(0)}
    40%,60%  {transform: rotate(.5turn)}
    80%,100% {transform: rotate(1turn)}
  }

#Sun3d {
    animation: Sun3D 5s linear infinite;
}

@keyframes Sun3D {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}

#Heading {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px white;
}

#HeadBg {
    transform: translate(0px,300px);
}

.Search {
    transform: translate(0px,400px);
}

#content {
    background-color: transparent;
    display: none;
}

#PresentCity {
    color: rgb(255, 255, 255);
}

#Box2,#Box12_2nd,#Box22 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#Box12_1st,#Box12_2nd {
    background-color: white;
}

#todayWeather {
    color: rgb(104, 100, 100);
}

.InfoA,.InfoB {
    font-size: 19px;
    color: black;
}

#Box1,#Box3 {
    background-color: white;
    font-size: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 1px;
}

#currentWeather {
    color: rgb(104, 100, 100);
}

#Box30 {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 20px;
}

#Para4 {
    font-size: 80px;
    line-height: 50px;
    font-weight: 600;
}

#Para5 {
    font-size: 21px;
}

.LeftSideData {
    font-size: 15px;
}

.HourlyC {
    position: relative;
}

.Ltemp {
    font-size: 30px;
    margin: 0px;
    margin-top: 40px;
}

#Box8,#Box9,#Box10,#Box11,#Box12,#Box13,#Box14,#Box15,#Box16,#Box17,#Box18,#Box19,#Box20,#Box21,#Box22 {
    background-color: white;
    margin-bottom: 1px;
}

.EightDay_today {
    font-size: 17px;
    font-weight: 500;
}

.EightDay_date {
    color: rgb(104, 100, 100);
    font-size: 13px;
}

.EightDay_Hi {
    font-size: 30px;
    font-weight: 600;
}

.EightDay_Lo {
    color: rgb(104, 100, 100);
    font-size: 20px;   
}

.EightDay_day {
    font-weight: 500;
}

.EightDay_night,.EightDay_rain {
    color: rgb(117, 114, 114);
}

#Box5,#Box7,#Box23,#Box25,#Box27,#Box29 {
    background-color: white;
    font-size: 12px;
    color: rgb(104, 100, 100);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 1px;
}

#Box4,#Box6,#Box24,#Box26,#Box28{
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.SunRiseSet,.MoonRiseSet {
    color: rgb(104, 100, 100);
    font-size: 14px;
    border-left: 1px solid rgb(223, 219, 219);
}

#sun,#PhaseInfo {
    color: black;
    font-size: 16px;
}

#AirQuality,#AQI{
    font-size: 16px;
}

#aqiInfo {
    font-size: 19px;
    border-right: 3px solid rgb(52, 240, 52);
}

#PM25val,#COval,#PM10val,#O3val,#SO2val,#NO2val {
    font-size: 25px;
    font-weight: 500;
}

#PM25,#CO,#PM10,#O3,#SO2,#NO2 {
    font-size: 13px;
    margin-top: 10px;
}

#HorizontalLine {
    color: purple;
}

.PerHourIcon {
    position: absolute;
    transform: translate(25px,0px);
    display: none;
}

.AqiMeter,.currentWeatherIcon {
    position: absolute;
    display: none;
}

#currentWeatherSun {
    visibility: hidden;
}

.PerDayIcon {
    position: absolute;
    transform: translate(180px,0px);
    display: none;
}

@media only screen and (max-width: 576px) {

}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
    .PerHourIcon {
        transform: translate(11px,0px);
    }
}

@media only screen and (min-width: 992px) {
    .PerHourIcon {
        transform: translate(14px,0px);
    }
}

@media only screen and (min-width: 1200px) {
    .PerHourIcon {
        transform: translate(21px,0px);
    }
}

@media only screen and (min-width: 1400px) {
    
}